<div>

    <form [formGroup]="offerForm">
        <mat-form-field appearance="fill" style="margin: 10px 10px 10px 10px;">
            <mat-label>DESTINATION</mat-label>
            <input matInput id="destination" type="text" formControlName="destination">
        </mat-form-field>

        <mat-divider></mat-divider>

        <mat-form-field  appearance="fill" style="margin: 10px 10px 10px 10px;">
            <mat-label>DURATION</mat-label>
            <input matInput id="duration" type="text" formControlName="duration">
        </mat-form-field>

        <mat-divider></mat-divider>

        <mat-form-field  appearance="fill" style="margin: 10px 10px 10px 10px;">
            <mat-label>HOTEL</mat-label>
            <input matInput id="hotel" type="text" formControlName="hotel">
        </mat-form-field>

        <mat-form-field  appearance="fill" style="margin: 10px 10px 10px 10px;">
            <mat-label>PRICE</mat-label>
            <input matInput id="price" type="text" formControlName="price">
        </mat-form-field>

        <div>
            <button mat-raised-button color="primary" style="margin: 10px 10px 10px 10px;" [disabled]="!offerForm.valid" type="submit" (click)="onSubmit()"> Save </button>
            <button mat-raised-button color="warn" (click)="close()"> Cancel </button>
        </div>
    </form>
   
</div>