<div>

    <form [formGroup]="offerForm">
        <mat-form-field appearance="fill" style="margin: 10px 10px 10px 10px;">
            <mat-label>DESTINATION</mat-label>
            <input matInput id="Destination" type="text" formControlName="Destination">
        </mat-form-field>

        <mat-divider></mat-divider>

        <mat-form-field  appearance="fill" style="margin: 10px 10px 10px 10px;">
            <mat-label>DURATION</mat-label>
            <input matInput id="Duration" type="text" formControlName="Duration">
        </mat-form-field>

        <mat-divider></mat-divider>

        <mat-form-field  appearance="fill" style="margin: 10px 10px 10px 10px;">
            <mat-label>HOTEL</mat-label>
            <input matInput id="Hotel" type="text" formControlName="Hotel">
        </mat-form-field>

        <mat-form-field  appearance="fill" style="margin: 10px 10px 10px 10px;">
            <mat-label>PRICE</mat-label>
            <input matInput id="Price" type="text" formControlName="Price">
        </mat-form-field>

        <div>
            <button mat-raised-button color="primary" style="margin: 10px 10px 10px 10px;" [disabled]="!offerForm.valid" type="submit" (click)="onSubmit()"> Save </button>
            <button mat-raised-button color="warn" (click)="close()"> Cancel </button>
        </div>
    </form>
   
</div>