<div>

    <form [formGroup]="offerForm">
        <mat-form-field appearance="fill" style="margin: 10px 10px 10px 10px;">
            <mat-label>Destination</mat-label>
            <input matInput id="destination" type="text" formControlName="Destination">
        </mat-form-field>

        <mat-divider></mat-divider>

        <mat-form-field  appearance="fill" style="margin: 10px 10px 10px 10px;">
            <mat-label>Duration</mat-label>
            <input matInput id="duration" type="text" formControlName="Duration">
        </mat-form-field>

        <mat-divider></mat-divider>

        <mat-form-field  appearance="fill" style="margin: 10px 10px 10px 10px;">
            <mat-label>Hotel</mat-label>
            <input matInput id="hotel" type="text" formControlName="Hotel">
        </mat-form-field>

        <mat-form-field  appearance="fill" style="margin: 10px 10px 10px 10px;">
            <mat-label>Price</mat-label>
            <input matInput id="price" type="text" formControlName="Price">
        </mat-form-field>

        <div>
            <button mat-raised-button color="primary" style="margin: 10px 10px 10px 10px;" [disabled]="!offerForm.valid" type="submit" (click)="onSubmit()"> Save </button>
            <button mat-raised-button color="warn" (click)="close()"> Cancel </button>
        </div>
    </form>
   
</div>