<div class="center">
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>DESTINATION</th>
        <th>DURATION</th>
        <th>HOTEL</th>
        <th>PRICE</th>
        <th>ACTION</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let offer of offers">
        <td>{{offer.id}}</td>
        <td>{{offer.destination}}</td>
        <td>{{offer.duration}}</td>
        <td>{{offer.hotel}}</td>
        <td>{{offer.price}}</td>
        <td>
          <button>UPDATE</button>
          <button>DELETE</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>