<div class="center">
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>destination</th>
                <th>duration</th>
                <th>hotel</th>
                <th>price</th>
            </tr>
        </thead> 
        <tbody>
            <tr *ngFor="let offer of offers">
                <td>{{offer.id}}</td>
                <td>{{offer.destination}}</td>
                <td>{{offer.duration}}</td>
                <td>{{offer.hotel}}</td>
                <td>{{offer.price}}</td>
            </tr>
        </tbody>
    </table>
</div>